<!DOCTYPE html>
<html lang="en">
{% include 'includes/header.html' %}
<body>


{% include 'includes/main_nav.html' %}

<div class="container-fluid">
   {% include 'includes/side_nav.html' %}
        <!--/span-->
        <div class="span9">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
                <!--Body content-->
                <h1>Bootstrap starter template</h1>
                <p>Use this document as a way to quick start any new project.<br> All you get is this message and a
                    barebones HTML document.</p>
            {% endblock %}
        </div>
    </div>
</div>


{% assets 'js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>
